h1 {
  margin: 0;
}

.container {
  width: 800px;
  font-size: 2rem;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

.loading {
  min-height: 70vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time {
  font-size: 1.1rem;
  width: 20%;
}

.heading {
  margin-bottom: 15px;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.btnWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.delBtn {
  border-radius: 40%;
  padding:1px 11px 1px 11px;
  font-size:27px;
  line-height: 95%;
  margin-left: 10px;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 600px;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    width: 95vw;
    font-size: 1rem;
  }
  .time {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
  }
  .time span {
    padding: 0px 5px;
  }
  .delBtn {
    padding:1px 8px 1px 8px;
    font-size:22px;
    line-height: 95%;
    margin-left: 5px;
  }
}
