h1 {
  margin: 0;
}

.container {
  width: 800px;
  margin: 30px;
}

.refreshButton {
  background-color:#64eef5;
  width: auto;
  height: auto;
  border-radius: 12px;
  border:none;
  padding:0;
  display: flex;
  align-items: flex-start;
  padding: 2px;
  margin: 7px 0 0 10px;
}

.refreshButton:hover{
  background-color:#4bc9cfbe;
  transition: all ease-in 0.3s;
}

.refresh{
  font-size: 2rem;
  line-height: 70%;
}

.titleContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}
.loading {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.break {
  flex-basis: 100%;
}
.time {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  font-size: 1rem;
  font-style: italic;
  /* width: 300px; */
  margin-top: 15px;
}

.heading {
  margin-bottom: 15px;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 90vw;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    /* width: 90vw; */
    font-size: 2rem;
  }
  .refreshButton{
    margin-top: 2px;
  }
}
